In [422]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [423]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
966,tt0298744,7000000,2062066,Auto Focus,Greg Kinnear|Willem Dafoe|Rita Wilson|Maria Be...,Paul Schrader,A day without sex is a day wasted.,"A successful TV star during the 1960s, former ...",104,Drama|Crime,Sony Pictures Classics|Propaganda Films|Good M...,10/18/2002,5.9,2002
1758,tt0478134,23000000,29541790,In the Valley of Elah,Tommy Lee Jones|Charlize Theron|Susan Sarandon...,Paul Haggis,Sometimes finding the truth is easier than fac...,A career officer and his wife work with a poli...,124,History|Drama|Thriller|Crime|Mystery,Summit Entertainment|Blackfriars Bridge Films|...,8/31/2007,6.2,2007
1384,tt0376108,45000000,16809014,Rebound,Martin Lawrence|Wendy Raquel Robinson|Breckin ...,Steve Carr,A comedy where old school ...meets middle school,An acclaimed college hoops coach is demoted to...,103,Comedy|Family,Twentieth Century Fox Film Corporation|Robert ...,7/1/2005,5.5,2005
826,tt1692486,25000000,27603069,Carnage,Kate Winslet|Jodie Foster|Christoph Waltz|John...,Roman Polanski,A new comedy of no manners,"In Brooklyn Bridge Park, eleven-year-old Zacha...",80,Comedy|Drama,Wild Bunch|Zanagar Films|Canal+|Constantin Fil...,9/16/2011,6.9,2011
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013

In [424]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [425]:
answers = {} 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
imdb_id                 1889 non-null object
budget                  1889 non-null int64
revenue                 1889 non-null int64
original_title          1889 non-null object
cast                    1889 non-null object
director                1889 non-null object
tagline                 1889 non-null object
overview                1889 non-null object
runtime                 1889 non-null int64
genres                  1889 non-null object
production_companies    1889 non-null object
release_date            1889 non-null object
vote_average            1889 non-null float64
release_year            1889 non-null int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [426]:
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [427]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [428]:
display(data[data['budget'] == data['budget'].max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [429]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [430]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [431]:
display(data[data['runtime'] == data['runtime'].max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [432]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [433]:
display(data[data['runtime'] == data['runtime'].min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [434]:
answers['4'] = '110'

In [435]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [436]:
answers['5'] = '107'

In [437]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [438]:
answers['6'] = 'Avatar (tt0499549)'

In [439]:
display(data[data['profit'] == data['profit'].max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [440]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [441]:
display(data[data['profit'] == data['profit'].min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [442]:
answers['8'] = '1478'

In [443]:
display(data[data['revenue'] > data['budget']]['imdb_id'].count())

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [444]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [445]:
display(data[data['revenue'] == data[(data['release_year'] == 2008)]['revenue'].max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [446]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [447]:
data234 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]
display(data[data['profit'] == data['profit'].min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [448]:
answers['11'] = 'Drama'

In [449]:
data['genres'].str.cat(sep='|')
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [450]:
answers['12'] = 'Drama'

In [451]:
data_profitp = data[(data['profit'] >= 0)]
pd.Series(data_profitp['genres'].str.cat(sep='|').split('|')).value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [452]:
answers['13'] = 'Peter Jackson'

In [453]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [454]:
answers['14'] = 'Robert Rodriguez'

In [455]:
data['list_dirs'] = data.director.str.split('|')
data_action = data[data.genres.str.contains('Action')][['list_dirs']]
data_exploded_action = data_action.explode('list_dirs')
data_exploded_action.list_dirs.value_counts()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Paul Abascal          1
Ericson Core          1
Mel Gibson            1
Rob Pritts            1
Rian Johnson          1
Name: list_dirs, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [456]:
answers['15'] = 'Chris Hemsworth'

In [457]:
data1 = data.copy()
data1['new_cast2012'] = data1[data.release_year == 2012]['cast'].str.split('|')
data1 = data1.explode('new_cast2012')
data1.groupby(by = 'new_cast2012')['revenue'].agg('sum').sort_values(ascending=False)

new_cast2012
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [458]:
answers['16'] = 'Matt Damon'

In [459]:
def counter(movie_bd, x):
    data_plot = movie_bd[x].str.cat(sep='|')
    dat = pd.Series(data_plot.split('|'))
    info = dat.value_counts(ascending=False)
    return info
sum_gen = counter(data[data['budget'] > data['budget'].mean()], 'cast')
print(sum_gen)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
Xzibit                1
Juliette Binoche      1
Adam Driver           1
Holly Hunter          1
Michael Bunin         1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [460]:
answers['17'] = 'Action'

In [461]:
data_nicolas = data[data.cast.str.contains("Nicolas Cage", na=False)]
pd.Series(data_nicolas['genres'].str.cat(sep='|').split('|')).value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
War                 1
Horror              1
Romance             1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [462]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [463]:
data_paramount = data[data.production_companies.str.contains("Paramount Pictures", na=False)]
display(data_paramount[data_paramount['profit'] == data_paramount['profit'].min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,list_dirs
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,[Kathryn Bigelow]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [464]:
answers['19'] = '2015'

In [465]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [466]:
answers['20'] = '2014'

In [467]:
data_warner = data[data.production_companies.str.contains("Warner Bros", na=False)]
data_warner.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [468]:
answers['21'] = 'Сентябрь'

In [469]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].dt.month
data.groupby(['month'])['imdb_id'].count().sort_values(ascending=False)

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [470]:
answers['22'] = '450'

In [471]:
data[(data['month'] >= 6) & (data['month'] <= 8)]['imdb_id'].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [472]:
answers['23'] = 'Peter Jackson'

In [473]:
data_winter = data[(data['month'] == 12) | (data['month'] < 3)]
pd.Series(data_winter['director'].str.cat(sep='|').split('|')).value_counts()

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Nancy Meyers         4
Adam Shankman        4
                    ..
Gary Winick          1
Joseph Kahn          1
John Luessenhop      1
Lee Tamahori         1
Frederik Du Chau     1
Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [474]:
answers['24'] = 'Four By Two Productions'

In [475]:
data['Name_length'] = data.original_title.map(lambda x: len(x))
data['production_companies1'] = data['production_companies'].str.split('|')
data_length = data.explode('production_companies1')
data_length.groupby('production_companies1')['Name_length'].mean().sort_values(ascending=False)

production_companies1
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: Name_length, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [476]:
answers['25'] = 'Midnight Picture Show'

In [477]:
data['overview_length'] = data.overview.apply(lambda x: len(str(x).split(' ')))

data['production_companies_split'] = data['production_companies'].str.split('|')
data1 = data.explode('production_companies_split')
data1.groupby('production_companies_split')['overview_length'].mean().sort_values(ascending=False)

production_companies_split
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_length, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [478]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [479]:
data['vote_average'].quantile(.99)
data_best = data[data['vote_average'] > data['vote_average'].quantile(.99)]
display(data_best)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_date,vote_average,release_year,profit,list_dirs,month,Name_length,production_companies1,overview_length,production_companies_split
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,...,2015-06-09,8.0,2015,678708609,[Pete Docter],6,10,"[Walt Disney Pictures, Pixar Animation Studios...",112,"[Walt Disney Pictures, Pixar Animation Studios..."
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,...,2015-10-16,8.0,2015,29401758,[Lenny Abrahamson],10,4,"[Element Pictures, No Trace Camping, A24, Dupe...",49,"[Element Pictures, No Trace Camping, A24, Dupe..."
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,...,2014-11-05,8.0,2014,456752480,[Christopher Nolan],11,12,"[Paramount Pictures, Legendary Pictures, Warne...",35,"[Paramount Pictures, Legendary Pictures, Warne..."
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,...,2014-07-30,7.9,2014,603312399,[James Gunn],7,23,"[Marvel Studios, Moving Picture Company (MPC),...",28,"[Marvel Studios, Moving Picture Company (MPC),..."
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,...,2014-11-14,8.0,2014,219555708,[Morten Tyldum],11,18,"[Black Bear Pictures, Bristol Automotive]",46,"[Black Bear Pictures, Bristol Automotive]"
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,...,2014-10-01,7.9,2014,308330363,[David Fincher],10,9,"[Twentieth Century Fox Film Corporation, Regen...",30,"[Twentieth Century Fox Film Corporation, Regen..."
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,...,2014-02-26,7.9,2014,144600318,[Wes Anderson],2,24,"[Fox Searchlight Pictures, Scott Rudin Product...",66,"[Fox Searchlight Pictures, Scott Rudin Product..."
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,...,2010-07-14,7.9,2010,665500000,[Christopher Nolan],7,9,"[Legendary Pictures, Warner Bros., Syncopy]",44,"[Legendary Pictures, Warner Bros., Syncopy]"
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,...,2008-07-16,8.1,2008,816921825,[Christopher Nolan],7,15,"[DC Comics, Legendary Pictures, Warner Bros., ...",67,"[DC Comics, Legendary Pictures, Warner Bros., ..."
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,...,2002-09-24,7.9,2002,85072577,[Roman Polanski],9,11,"[Bac Films, Canal+Polska, Heritage Films, Stud...",39,"[Bac Films, Canal+Polska, Heritage Films, Stud..."
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,...,2003-12-01,7.9,2003,1024888979,[Peter Jackson],12,45,"[WingNut Films, New Line Cinema]",45,"[WingNut Films, New Line Cinema]"
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,...,2013-12-25,7.9,2013,292000694,[Martin Scorsese],12,23,"[Paramount Pictures, Appian Way, EMJAG Product...",29,"[Paramount Pictures, Appian Way, EMJAG Product..."
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,...,2013-10-18,7.9,2013,167000000,[Steve McQueen],10,16,"[Plan B Entertainment, Regency Enterprises, Ri...",61,"[Plan B Entertainment, Regency Enterprises, Ri..."
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,...,2000-10-11,7.9,2000,30723096,[Christopher Nolan],10,7,"[Summit Entertainment, Newmarket Capital Group...",78,"[Summit Entertainment, Newmarket Capital Group..."

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [480]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [481]:
import itertools

data22 = data.copy()
data22['new_cast2012'] = data22['cast'].str.split('|').apply(lambda x: list(itertools.combinations(x, 2)))

data22 = data22.explode('new_cast2012')
data22.groupby('new_cast2012')['new_cast2012'].count().sort_values(ascending=False)

new_cast2012
(Daniel Radcliffe, Emma Watson)             8
(Daniel Radcliffe, Rupert Grint)            8
(Rupert Grint, Emma Watson)                 7
(Ben Stiller, Owen Wilson)                  6
(Johnny Depp, Helena Bonham Carter)         6
                                           ..
(Matthew McConaughey, Rene Russo)           1
(Matthew McConaughey, Reese Witherspoon)    1
(Matthew McConaughey, Powers Boothe)        1
(Matthew McConaughey, PenÃ©lope Cruz)       1
(50 Cent, Adewale Akinnuoye-Agbaje)         1
Name: new_cast2012, Length: 18121, dtype: int64

# Submission

In [482]:
# Нет ошибок в ответах
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [483]:
# и убедиться что ни чего не пропустил)
len(answers)

27